MSOE Online MBA Admissions Requirements | MSOE
Skip to Main Content
Home
Academics
Graduate Degrees
Online Graduate Programs
Online MBA Programs
MSOE Online MBA
MSOE Online MBA Admissions Requirements
MSOE Online MBA Admissions Requirements
Transform your career by applying to the online MBA program. Choose from the general MBA track or an optional specialization of your choosing—the MBA in
Advanced Business Strategy Using AI and Analytics
, the MBA in
New Product Management
or the MBA in
Education Leadership
.
Prerequisite Requirements
Those applying to the online MBA program at Milwaukee School of Engineering must meet the following requirements:
Bachelor’s degree from an accredited university
Three years of full-time work experience is preferred
Application Process at MSOE
The application process is designed to be as easy as possible. Please follow these steps for timely review.
Complete the
online application form
Official transcripts sent directly from all colleges and/or universities previously attended
Submit a current resume that details professional experience
If your undergraduate GPA is below 2.8 (on a 4.0 scale), please submit these additional documents:
GMAT or GRE score must be submitted
Two letters of recommendation
International students can view additional admissions information by clicking
here
.
All documents can be uploaded through student PURL page or emailed to grad@msoe.edu.
Inquiry Form
Earn your online MBA with MSOE. Just fill out the short inquiry form and our admissions team will be in touch and share a program brochure.
Fill out inquiry form
Lucia Kohne
Director of Graduate Admissions
(414) 277-7331
kohne@msoe.edu
Dan Pavletich
Graduate Program Director
(414) 277-2486
pavletich@msoe.edu
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo