Anatomy and Physiology JumpStart Program | MSOE
Skip to Main Content
Home
Admissions & Aid
Undergraduate Admissions
What We Look For
Anatomy and Physiology JumpStart Program
Anatomy and Physiology JumpStart Program
Anatomy and Physiology is the foundation of Nursing. To support you in achieving your full potential at MSOE, you’re invited to participate in Anatomy and Physiology JumpStart. This is a free program that will help you develop your skills and gain confidence working on the structured objectives in ALEKS, connect with Anatomy and Physiology faculty and build your MSOE community.
Program Details
Approximately 10 hours of asynchronous online activity per week
Two virtual meetings with your instructor
Dates
August 1, 2025 to August 22, 2025
"The JumpStart program for Anatomy and Physiology has helped me succeed in my course here at MSOE. This introductory pathway was very helpful in getting a preview of content that the course contains. This content can be quite difficult if not previously exposed to it, but JumpStart helped alleviate those concerns. I also enjoyed getting to know the professor of the class and was able to get some advice about Anatomy and Physiology before it started in the fall." - Former JumpStart participant
Register for the Anatomy & Physiology JumpStart Program
Register
Student Success
studentsuccess@msoe.edu
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo