What We Look For | MSOE
Skip to Main Content
Home
Admissions & Aid
Undergraduate Admissions
What We Look For
What We Look For in Our Undergraduate Applicants
Find out what it takes to get admitted to MSOE's undergraduate programs.
MSOE takes a holistic approach to our admissions process. We strive towards finding exceptional students who will add to our long-lasting legacy of success. Our application evaluation is done exclusively by admissions professionals.
We have found that first-year students are most successful at MSOE if they enroll with a strong foundation in the following courses:
Pre-calculus or higher recommended
Physics
Chemistry
MSOE recommends a cumulative 3.2 minimum GPA.
Admissions Process
Any student interested in MSOE should take these next steps:
Apply today
! You can apply through our website or through the Common App.
Send in an official copy of your high school transcripts. Transcripts can be mailed, emailed to
explore@msoe.edu
or sent through a third party (e.g. Parchment, Common App, etc.).
Mailing Address:
Milwaukee School of Engineering
ATTN: Admissions Office
1025 N. Broadway
Milwaukee, WI 53202
MSOE is test optional and does not require the ACT or SAT as an initial admission document.
We may request your test scores (if available)
as an additional indicator of academic success based upon your academic performance and coursework.
File your Free Application for Federal Student Aid (FAFSA®). The FAFSA is available beginning October 1. MSOE encourages all eligible students to file the FAFSA so they can be awarded the maximum amount of aid they are eligible for.
Learn more
about filing the FAFSA.
Undergraduate Application
Invest in your future. Apply now to MSOE!
Start the application process
Undergraduate Admissions
(800) 332-6763
explore@msoe.edu
Request Information
Do you have questions about MSOE? Interested in learning more about events, your application status or our campus? Fill out this quick form and we will get back to you as soon as we can!
Let's get started
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo