Transfer Admissions Requirements | MSOE
Skip to Main Content
Home
Admissions & Aid
Transfer Admissions
Transfer Admissions Requirements
Transfer Admissions Requirements
Learn more about MSOE's requirements for transfer students
Admission requirements vary by major, and are detailed below.
Actuarial Science, Engineering, User Experience Majors
Minimum 3.0/4.0 cumulative GPA from the last institutionally accredited school you attended and completed at least 12 of your semester credits.
Business Majors
Minimum 2.75/4.0 cumulative GPA from the last institutionally accredited school you attended and completed at least 12 of your semester credits.
B.S. in Technical and Business Management (AAS to B.S. Transfer Program)
See the
B.S. in Technical and Business Management (AAS to B.S. Transfer Program)
for course planning.
Construction Management Majors
Minimum 2.75/4.0 cumulative GPA from the last institutionally accredited school you attended and completed at least 12 of your semester credits.
Nursing Majors
Nursing (Traditional Track)
Minimum 3.0/4.0 cumulative GPA from the last institutionally accredited school you attended and completed at least 12 of your semester credits. See the
BS in Nursing (Traditional Track)
for course planning.
Nursing (Accelerated Second Degree)
Minimum 3.0/4.0 cumulative GPA for Nursing (Accelerated Second Degree) program. Minimum 2.7/4.0 GPA considered on case-by-case basis for Nursing (Accelerated Second Degree) program. Minimum GPA considered from undergraduate degree only.
Required Prerequisite Courses (Accelerated Second Degree)
A Bachelor of Science or Bachelor of Arts degree from an accredited institution
Completion of the following core courses:
Anatomy & Physiology: 1 year total; at least 8 credits (two semester courses or three quarter courses)
Chemistry: 1 year total; at least 6 credits (two semesters or three quarter courses)
College math: at least 3 credits
Statistics: at least 3 credits
Microbiology: at least 3 credits
Nutrition: at least 2 credits
Developmental Psychology: at least 3 credits
Bioethics: any type of ethics, at least 3 credits
If you have not completed these courses, you may still apply to the program, but you must complete them as a prerequisite to the
B.S. in Nursing – Accelerated Second Degree program
. In addition to pre-requisites, you will also find a
list of commonly asked questions about the BSN-ASD program
to help you decide if the program is right for you.
Explore financial aid options as a student at MSOE
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo