International Graduate Admission Requirements | MSOE
Skip to Main Content
Home
Admissions & Aid
International Admissions
Future International Students
International Graduate Students
International Graduate Admission Requirements
International Graduate Admission Requirements
Find out what it takes to get admitted to MSOE’s graduate degree programs.
Required Documents
A completed online student application.
Official transcripts of all post-secondary schools that you’ve attended must be submitted. Official transcripts not issued in English should include a professional certified translation.
Proof of English Proficiency:
We accept official test results from TOEFL, IELTS, or Duolingo. MSOE’S TOEFL code is 1476. We require a minimum IBT TOEFL score of 90 with a minimum band score of 22, or a 7.0 on the IELTS with a minimum band score of 6.5, a Duolingo score of 130 with a minimum band score of 115.
Earning a degree in the United States.
Citizenship from a country where the official language is only English.
Original
MSOE financial certification
or original bank document (on bank letterhead) showing enough money to cover your education and living expenses at MSOE for one year along with an
affidavit of support
from the owner of the bank account.
A copy of your current passport.
As Required by Program
Program specific requirements can be found
here
.
Letters of recommendation
Submit online recommendations here
or directly to your admissions counselor.
Resume
Personal Statement
Undergraduate Application
Invest in your future. Apply now to MSOE!
Start the application process
International Admissions
1025 N. Broadway
Milwaukee, WI 53202
+1 (414) 277-7200
international@msoe.edu
WeChat
: MSOE-Admissions-Team
Whatsapp
: +1 414 374 6252
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo