Mathematics JumpStart Summer Programs | MSOE
Skip to Main Content
Home
Admissions & Aid
Undergraduate Admissions
What We Look For
Mathematics JumpStart Summer Programs
Mathematics JumpStart Summer Programs
To support you in achieving your full potential at MSOE, we offer the Mathematics JumpStart Summer Program.
JumpStart
is a free opportunity that will help you refine your math skills and gain confidence by working on structured objectives, connecting with math faculty, and building community with peers.
Program Information:
Start date: July 6, 2026
Asynchronous online experience
Approximately 10 hours of self-paced online participation per week
Virtual advising available with MSOE math faculty
After beginning the program, students will have 6 weeks to complete required objectives.
Who is
JumpStart
designed for?
The Mathematics
JumpStart
Summer Program is tailored to students with little experience with Calculus in high school. Any incoming MSOE freshman in an engineering, computing or mathematics major is eligible.
Students with limited or no exposure to Calculus in high school are highly encouraged to participate.
Students in the
MSOE Carter Academy
are not eligible.
Why should I enroll in the summer program?
Mathematics provides the foundation for science and engineering, so continued success in your mathematics courses will ensure that you thrive at MSOE.
Refining your understanding of precalculus mathematics during the summer will give you a boost into your fall math course.
Students who have been away from school for some time will also benefit from what
JumpStart
has to offer.
National research* and MSOE’s own internal data suggest that students who engage in additional learning opportunities are more successful overall.
The
JumpStart
program offerings are a great way to start accessing all the resources MSOE has to offer you.
What is the time commitment?
Approximately 10 hours of self-paced online participation per week—although this can vary considerably by student.
What are the technology requirements?
Computer that runs Windows 10, Mac OS X, or Chromebook
Broadband internet access
Microsoft Teams for messaging and video conferencing (This may be
downloaded for free
.)
Webcam (Students will be expected to use their cameras during virtual meetings.)
Ability to scan written materials (This can be done via a home printer with a scanning feature, or with a scanning app such as
MS Office Lens
.)
How do I sign-up?
To register, please
visit the
JumpStart
registration webpage
.
Other questions?
Do you have any concerns about technology requirements? Concerns about student accommodations?  Contact our
Math Placement
team to discuss.
*Bradford BC, Beier ME, Oswald FL. A Meta-analysis of University STEM Summer Bridge Program Effectiveness. CBE Life Sci Educ. 2021 Jun;20(2):ar21.
Register for the Mathematics JumpStart Program
Register
Math Placement
mathplacement@msoe.edu
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo