Requirements | MSOE
Skip to Main Content
Home
Admissions & Aid
International Admissions
Future International Students
International Undergraduate Students
Requirements
International Undergraduate Admission Requirements
Find out what it takes to get admitted to MSOE's undergraduate degree programs.
Required Documents
A completed online undergraduate student application.
Official transcripts of all secondary or post-secondary schools that you attended (high school or college) showing complete results from every year.
Official test results from TOEFL, IELTS, DuoLingo or PTE. MSOE’s TOEFL code is 1476. For full admission we require a minimum iBT TOEFL score of 82 with a minimum band score of 19 or a 6.5 on the IELTS with a minimum band score of 6.0, a Duolingo score of 115 with a minimum band score of 100, or a PTE score of 56.
Original
MSOE financial certification
or original bank document (on bank letterhead) showing enough money to cover your education and living expenses at MSOE for one year along with an
affidavit of support
from the owner of the bank account.
A copy of your current passport.
Next Steps
A completed housing application for one of the MSOE Residence Halls. International students are required to live on campus for the first two years of study, unless you are a transfer student, graduate student, or have a relative living within 30 miles of campus.
Purchase
MSOE health insurance
or provide proof of appropriate health insurance coverage.
Take the ALEKS math assessment.
Undergraduate Application
Invest in your future. Apply now to MSOE!
Start the application process
International Admissions
1025 N. Broadway
Milwaukee, WI 53202
+1 (414) 277-7200
international@msoe.edu
WeChat
: MSOE-Admissions-Team
Whatsapp
: +1 414 374 6252
Virtually Tour Our Campus!
Get to know MSOE! Our virtual tour of campus will take you to the spots that you'll become familiar with during your time as a Raider. Located in the heart of downtown Milwaukee, MSOE is perfectly situated just blocks from Lake Michigan, the entertainment district, and so much more.
Take a virtual tour
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo