Graduate Admission Requirements | MSOE
Skip to Main Content
Home
Admissions & Aid
Graduate Admissions
Graduate Admission Requirements
Graduate Admission Requirements
Admission requirements for each program can be found below.
General Graduate Admission requirements for all MSOE Graduate Programs*:
Completed free
online application
Completion of a baccalaureate degree from an accredited institution.
Official transcripts in English sent directly from all colleges and/or universities previously attended.
Program Specific Admission Requirements:
Rader School of Business
2.8 GPA (on a 4.0 scale). An interview with the program director is required if your GPA is lower than a 2.8.
Two letters of recommendation
- only required if your cumulative undergraduate GPA is below 2.8
See the
academic catalog
for a detailed list of specific admission requirements for the MBA in Education Leadership.
School of Engineering
2.8 GPA (on a 4.0 scale). GMAT or GRE scores must be submitted if your GPA is lower than a 3.0.
Two letters of recommendation
Machine Learning
A technical Bachelor's degree
Programming experience with an object-oriented language. One year of college course work or equivalent minimum.
Students with only one semester equivalent will be required to take CSC 5120 Software Development for Machine Learning in one of the M.S. in Machine Learning elective slots.
At least one year of differential and integral calculus required. Multivariable calculus or linear algebra preferred.
School of Nursing
A bachelor’s degree in nursing from an accredited university.  Official transcripts from prior course work must be submitted
Current unrestricted licensure as a Registered Nurse.  A copy of the license must be submitted at the time of application.
GPA of at least 3.00 (on a 4.00 scale) from an undergraduate nursing program.
Statistics grade of C or higher in a three credit, level 300 or higher statistics course that has been taken within the last five years of date of application.  If the course level was less than 300, a syllabus may be submitted to be reviewed for acceptability.
Previous and/or current work experience as a professional nurse is recommended.
A criminal background check and urine drug screen will be done on all students entering the program.
Perfusion
Academic Requirements:
Applicants must have earned a baccalaureate degree with an undergraduate GPA of at least 3.0 (on a 4.00 scale)
At least one undergraduate course in each of the following areas: physiology (or anatomy and physiology), chemistry, mathematics and physics. Recommended course work includes biochemistry and statistics.
GRE general test scores having percentiles that average 50 percent or better.
Three letters of recommendation
, if possible, two should be from faculty who can judge the applicant’s academic abilities. The third may be from a faculty member or a supervisor/employer who can speak to the applicant’s professionalism, ability to work on a team, be responsible, etc.
Application Requirements
Applicants may apply at any time, but applications are reviewed after Dec. 15th for the September class of the following year. Completed applications will be given preference in the review cycle. There is no guarantee that applicants who complete their applications after Dec. 15th will be considered, which will be dependent upon the number of applications received. Enrollment is limited to eight students per year, and completed applications will be considered until the class is full. Only the most highly qualified applicants will be invited for interviews, and admission decisions will be made after interviews are completed. If you are not accepted into the program but are interested to try the following year, you will need to reapply on our website. A criminal background check and urine drug screen will be conducted for all students entering the program.
See a complete list of requirements.
Clinical Requirements
Applicant must have observed at least two clinical cases prior to formal acceptance into the program. If applicants cannot schedule case viewings locally, these can be done at our facilities if the applicant is invited for an interview. Applicants should note in their application essay any previous exposure to the field of perfusion.
All materials should be submitted to:
We encourage applicants to submit their documents electronically, but we will accept physical mailings as well to the following address:
Milwaukee School of Engineering
Graduate Program Admissions
1025 North Broadway
Milwaukee, WI 53202-3109
*International applicants should view the
international admissions page
for additional requirements.
Graduate Inquiry Form
Fill out the graduate inquiry form
Graduate Admissions
1025 North Broadway
Milwaukee, WI 53202
+1 (414) 277-7200
grad@msoe.edu
Request Information
Register for events, check your application status or request more information!
Let's get started
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo