Carter Academy Application 2025 | MSOE
Skip to Main Content
Home
Admissions & Aid
Undergraduate Admissions
What We Look For
The Carter Academy
Carter Academy Application
Carter Academy Application
The Carter Academy is a one-of-a-kind program that helps students build confidence, connect with support, and thrive at MSOE—with guidance throughout their first two years.
For Carter Academy program goals and expectations, please
view the Carter Academy contract
before applying.
*
= required field
Last Name
First Name
Preferred Name
Please indicate your gender:
Female
Male
Prefer to self-describe
Prefer not to answer
What are your preferred pronouns (optional)?
He, Him
She, Her
They, Them
Prefer to self-describe
If you prefer to self-describe, please list here:
Cell Phone Number (not parent/guardian)
###
###
####
Primary Email Address - Other than High School Email (not parent/guardian)
High School Email
Parent/Guardian Email Address
Parent/Guardian Phone Number
###
###
####
Date of Birth
MM
DD
YYYY
Current Address
Street Address
Street Address Line 2
City
Outside US & Canada
Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District Of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming
American Samoa
Federated States of Micronesia
Guam
Marshall Islands
Northern Mariana Islands
Palau
Puerto Rico
Virgin Islands
U.S. Armed Forces - Americas
U.S. Armed Forces - Canada / Europe / Africa / Middle East
U.S. Armed Forces - Pacific
Ontario
Quebec
Nova Scotia
New Brunswick
Manitoba
British Columbia
Prince Edward Island
Saskatchewan
Alberta
Newfoundland and Labrador
Northwest Territories
Nunavut
Yukon
State / Province / Region
Postal / Zip Code
Country
Permanent Address (fill out if different than current)
Street Address
Street Address Line 2
City
Outside US & Canada
Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District Of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming
American Samoa
Federated States of Micronesia
Guam
Marshall Islands
Northern Mariana Islands
Palau
Puerto Rico
Virgin Islands
U.S. Armed Forces - Americas
U.S. Armed Forces - Canada / Europe / Africa / Middle East
U.S. Armed Forces - Pacific
Ontario
Quebec
Nova Scotia
New Brunswick
Manitoba
British Columbia
Prince Edward Island
Saskatchewan
Alberta
Newfoundland and Labrador
Northwest Territories
Nunavut
Yukon
State / Province / Region
Postal / Zip Code
Country
Citizenship status
U.S. Citizen
Permanent Resident
Other (fill-in)
I identify my ethnicity as
White
American Indian/Alaska Native
Black/African American
Hispanic/Latinx
Hawaiian/Pacific Islander
Southeast Asian/Other Asian
Multiracial
Prefer not to answer
If you prefer to self-identify and/or are two or more races, please fill in here
Do you require special accommodations as a result of disability, medical condition or mental health concern?? (ASL, Alternative Text, Mobility, Extended Testing Time, etc.) If yes, please list accommodations needed. (To find out more about what accommodations and support MSOE has for students with disabilities please visit the Student Accessibility Services website.)
Will you be a first-generation college student? (being a first-generation students means that your parents did not complete a 4-year college or university degree)
Yes
No
What is the highest level of high school math you have completed?
Algebra/Trigonometry
Pre-Calculus
AP Pre-calculus
Calculus
AP Calculus AB
AP Calculus BC
IB Math
If you are in AP Calc: Carter Academy focuses on strengthening math skills, specifically, scholars will be completing pre-calculus over the summer. Why do you believe Carter Academy is the right fit for you?
What is your cumulative unweighted high school GPA on a 4.0 scale?
Name of High School
In 2-3 paragraphs, please answer the following questions. (1) What has inspired you to pursue a career in engineering and computing? (2) How can Carter Academy support you in achieving your goals? (3) What do you hope to gain or learn from being a part of the Carter Academy program?
Think about one program, club, organization, or leadership role you’ve been part of. In 1–2 paragraphs, share what you learned about yourself and how you work with others. How did this experience help you understand teamwork, community, or supporting people with different perspectives?
In Carter Academy, you’ll work closely with your cohort and complete projects as part of your experience. In 2–3 paragraphs, describe a project you worked on: what it was, your role, and your goals. Share any successes, the challenges you faced, and how you handled them. Did you complete the project, and what was the outcome? If not, what got in the way?
By checking the box below, you are agreeing to have read the Carter Academy Scholar requirements and understand the expectations of the program.
I Agree
Spam Prevention
*
Please help us prevent spam by using the reCAPTCHA below.
Menu
Search
submit
Resources For…
MSOE University
1025 North Broadway
Milwaukee,
WI
53202-3109
(800) 332-6763
explore@msoe.edu
Connect With MSOE
Facebook
Instagram
Twitter
Linkedin
YouTube
Vimeo